
<%- include('partials/header'); -%>

    <script type="module" src="/js/mongo.js"></script>

    <div class="title">
        <div class="titleBox"><h1>KicksHub</h1></div>

        <a href="/login"><div class="userButton">Log in</div></a>

        <a href="/admin"><div class="addButton">Add</div></a>
    </div>
    
    <div class="topPush"></div>

    <div class="shoes">
        <%if(productresult.length > 0){%>
            <%productresult.forEach(shoe => {%>
                <img src="img/stockphoto.jpg" alt="">
              <div class="product-cont">
                <h3><%=shoe.title%></h3>
                <p><b>MODELL:</b> <%=shoe.model%></p>
                <p><b>MERKE:</b> <%=shoe.brand%></p>
                <p><b>PRIS:</b> <%=shoe.price%>kr</p>
                <p><b>ARTIKKELNUMMER:</b> <%=shoe.articleNumber%></p>
              </div>
              
                <form action="/update/:id" method="post">
                    <button type='submit' class="updateButton">Update</button>
                </form>


                <form action="/delete/:id" method="post">
                    <button type='submit' class="deleteButton">Delete</button>
                </form>

            <%})%>
               
          <%}%>
    </div>


<%- include('partials/footer'); -%>